[Unit]
Description=xmrigCC Daemon

[Service]
ExecStart=/etc/xmrigCC/xmrigDaemon
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=xmrigcc.service
